body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

input {
  padding: 5px;
  margin: 12px;
  border: 1px solid grey;
  border-radius: 14px;
}

button {
  padding: 5px;
  background-color: white;
  margin: 12px;
  border: 1px solid grey;
  border-radius: 14px;
  transition: all 0.2s ease;

  &:hover {
    background-color: rgb(113, 113, 113);
  }
}
